.skillsBlock {
    background-color: #b2dcdd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #898d96;
}

.mySkills {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid;
}